<!DOCTYPE html>

<html lang="en" ng-app="sensor_controller">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>EZEE - Sensors</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- MetisMenu CSS -->
    <link href="css/metisMenu.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body ng-controller="sensor_control">
    <div id="wrapper">
        <!-- Navigation -->
						<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand" href="dashboard.html">Welcome User</a>
			</div>
			<!-- /.navbar-header -->
			<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i></a>

					<ul class="dropdown-menu dropdown-user">
						<li>
							<a href="landing.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
						</li>
					</ul>
					<!-- /.dropdown-user -->
			</li>
			</ul>

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">

						<li>
                            <a href="dashboard.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>


                        <li>
                            <a href="sensors.html"><i class="fa fa-plug fa-fw"></i> My Sensors</a>
                        </li>


                        <li>
                            <a href="monitoring.html"><i class="fa fa-line-chart fa-fw"></i> Monitoring</a>
                        </li>

                        <li>
                            <a href="billing.html"><i class="fa fa-shopping-cart fa-fw"></i> Billing</a>
                        </li>

                        <li>
                            <a href="underconstruction.html"><i class="fa fa-area-chart fa-fw"></i> Analyze data</a>
                        </li>

                        <li>
                            <a href="underconstruction.html"><i class="fa fa-user fa-fw"></i> Profile</a>
                        </li>
						
					</ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav>


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">My Sensors</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->


            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary ">
                        <div>
                            <div class="panel-heading fitbit-img">
                                <div class="row">
                                    <div class="col-xs-3 ">
                                        <!-- <i class="fitbit-img"></i> -->
                                    </div>


                                    <div class="col-xs-9 text-right">
                                        <div class="huge">
                                            FitBit
                                        </div>


                                        <!--div>
                                            <div id="Compass">
                                            </div>


                                            <div id="Pulse">
                                            </div>


                                            <div id="Temp">
                                            </div>


                                            <div id="Beat">
                                            </div>
                                        </div-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                              <span class="pull-right">
                              <p> <button class="btn btn-success" id="button" type="button" ng-click="fitbit_start_date()">&nbsp&nbsp&nbsp CONNECT &nbsp
                              &nbsp&nbsp</button><br></p> 
                               <p> <button class="btn btn-danger " id="button" ng-click="fitbit_end_date()" type="button" name="fitbit_stop_btn">DISCONNECT</button>
                                </p>
                                </span>

                                <div class="clearfix">
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-red">
                        <div>
                            <div class="panel-heading phone-img">
                                <div class="row">
                                    <div class="col-xs-3">
                                        
                                    </div>


                                    <div class="col-xs-9 text-right">
                                        <div class="huge">
                                            Phone
                                        </div>


                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                               
                                 <span class="pull-right">
                              <p> <button class="btn btn-success" id="button" type="button" ng-click="phone_start_date()">&nbsp&nbsp&nbspCONNECT&nbsp&nbsp&nbsp</button><br></p> 
                               <p> <button class="btn btn-danger" id="button" ng-click="phone_end_date()" type="button" name="fitbit_stop_btn">DISCONNECT</button>
                                </p>
                                </span>

                                <div class="clearfix">
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div>
                            <div class="panel-heading car-img">
                                <div class="row">
                                    <div class="col-xs-3">
                                       
                                    </div>


                                    <div class="col-xs-9 text-right">
                                        <div class="huge">
                                            Car
                                        </div>


                                        <!--div>
                                            <div id="CarDirection">
                                            </div>


                                            <div id="CarSpeed">
                                            </div>


                                            <div id="CarTemp">
                                            </div>


                                            <div id="">
                                            </div>
                                        </div-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">


                                 <span class="pull-right">
                              <p> <button class="btn btn-success " id="button" type="button" ng-click="car_start_date()">&nbsp&nbsp&nbspCONNECT&nbsp&nbsp&nbsp</button><br></p> 
                               <p> <button class="btn btn-danger " id="button" ng-click="car_end_date()" type="button" name="fitbit_stop_btn">DISCONNECT</button>
                                </p>
                                </span>

                                <div class="clearfix">
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
               
            </div>
        </div>

        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.min.js">
    </script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/bootstrap.min.js">
    </script>
    <!-- FitBit JavaScript -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="controllers/sensors_controller.js"></script>
	
	
	
</body>

</html>